<h1>게시물 목록 페이지</h1>
<a href='/home/new'>새 글 쓰기</a>
<br><br>    
<%@posts.each do |x| %>
제목 : <%=x.title%><br><br>
내용 : <%=x.content%><br>

<a href="/home/destroy/<%=x.id%>">
<button>삭제1</button>    
</a>

<%=link_to post_destroy_path(post_id: x.id) do%>
<button>삭제2</button> 
<%end%>

<a href='/home/edit/<%=x.id%>'>[수정]</a>
<br>
-------------------------<br>
<% end %>